:root {
    --cor-azul-escuro: #051534;
    --cor-azul-claro: #09244C;
    --cor-cinza-claro: #D3D3D3;
    --cor-cinza-escuro: #252C37;
    --cor-amarelo-claro: #DDCA92;
    --cor-dourado: #776125;
    --cor-branco: #fff;
}