#contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
    background-color: var(--cor-azul-escuro);
    padding: 0 15rem;
}

.navegacao {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 0;
}

.navegacao img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
}

.navegacao img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.navegacao.anterior {
    left: 10px;
}

.navegacao.proximo {
    right: 10px;
}

#feedback {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato .cards {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.feedback-item {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

#contato .feedback-item img {
    width: 305px;
}

#contato .feedback-item.ativo {
    display: flex;
}

.acoes {
    margin-top: 20px;
    text-align: center;
}

.indicadores {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.indicador {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicador.ativo {
    background-color: var(--cor-dourado);
}

.formulario {
    border: 1px solid var(--cor-azul-escuro);
    height: 32rem;
    width: 400px;
    padding: 50px 15px;
    border-radius: 16px;
    background-color: #ffffff40;
}

.formulario h3 {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 100%;
    font-size: 17px;
    text-align: center;
}

.nome,
.email,
.telefone {
    margin: 2rem 0 35px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

input {
    color: var(--cor-cinza-escuro);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 18px 20px;
    border-radius: 6px;
    background-color: #D9D9D9;
}

.formulario .btnPrincipal {
    width: 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
    #contato {
        flex-direction: column;
        align-items: flex-start;
        height: 160vh;
        gap: 30px;
        padding: 0 15px;
        justify-content: center;
    }

    #feedback {
        width: 100%;
    }

    .navegacao.anterior {
        left: 0px;
    }

    .navegacao.proximo {
        right: 0px;
    }

    #contato .feedback-item img {
        width: 225px;
    }

    .navegacao img {
        width: 24px;
        height: 24px;
    }

    .acoes {
        margin-top: 0px;
    }

    .formulario {
        width: 100%;
        height: auto;
        margin: 3rem 0;
    }

    .formulario h3 {
        font-size: 16px;
    }

    .nome,
    .email,
    .telefone {
        margin: 1rem 0 15px 0;
        gap: 2px;
    }

    .formulario .btnPrincipal {
        font-size: 14px;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    #contato {
        padding: 0px 10rem;
    }

    .navegacao.anterior {
        left: 0px;
    }

    .navegacao img {
        width: 28px;
        height: 28px;
    }

    #contato .feedback-item img {
        width: 248px;
    }

    .formulario {
        height: 28rem;
        width: 342px;
        padding: 42px 15px;
    }

    .formulario h3 {
        font-size: 16px;
    }

    .nome,
    .email,
    .telefone {
        margin: 1rem 0 20px 0;
    }

    input {
        padding: 16px 17px;
    }

    .formulario .btnPrincipal {
        font-size: 14px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {}

@media (min-width: 1981px) and (max-width: 2560px) {
    #contato {
        height: 80vh;
        padding: 0px 30rem;
    }

    #feedback {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contato .cards {
        width: 60%;
        height: 450px;
    }

    #contato .feedback-item img {
        width: 455px;
    }

    .navegacao.anterior {
        left: 180px;
    }

    .navegacao.proximo {
        right: 180px;
    }

    .formulario {
        height: 41rem;
        width: 500px;
        padding: 57px 20px;
        border-radius: 20px;
        background-color: #ffffff40;
    }

    .formulario h3 {
        font-size: 28px;
    }

    .nome,
    .email,
    .telefone {
        margin: 2rem 0 25px 0;
    }

    label {
        font-size: 20px;
    }

    input {
        font-size: 18px;
        padding: 27px 28px;
    }
}